
/* about */

.about{

  padding: 20px;
  font-size: 13px;
  border: radius 10px;
}
.about .about-img{
  width: 100%;
  height: 50vh;
  padding: 10px;
  border-radius: 20px;
  background-color: aliceblue;
  transition: all 0.3s linear;
  box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10%;

}
.about .about-img:hover{
  padding: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}
.about .about-img img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
/* .about .about-img img:hover{
transform: scale(1.02);
cursor: pointer;
} */

.about .about-body{
  padding: 20px;
  color: black;
 font-family: 'Times New Roman', Times, serif;

}
.about .about-title{
 text-align: center;
 font-weight: bold  ;
}
.about .about-text{
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 27px;
  line-break: auto;
}
