<div class="breadcrumb-card my-2">
  <img src="assets/images/banner2.jpg" alt="assets/images/banner6.jpg" />
  <div class="breadcrumb-body">
    <div class="title">
      <h1 class="breadcrumb-title">Haqqımızda</h1>
    </div>
    <div class="body">
      <nav
        style="
          --bs-breadcrumb-divider: url(
            &#34;data:image/svg + xml,
            %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
          );
        "
        aria-label="breadcrumb"
      >
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']">Ana Səhifə</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Haqqımızda</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="about mb-4">
  <div class="row">
    <div class="col-md-6">
      <div class="about-img">
        <img class="" src="assets/images/banner4.jpg" alt="assets/images/banner6.jpg" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="about-body">
          <h1 class="about-title">Altun Cabel MMC</h1>
        <p class="about-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis
          laudantium quis consectetur ullam repellat distinctio, qui, quisquam
          animi nobis laborum voluptates praesentium! Sapiente vitae quas
          distinctio veritatis iure atque officia quisquam. Facilis, beatae.
          Alias nesciunt facilis, quidem laboriosam accusantium necessitatibus
          quibusdam ad vel officiis excepturi omnis quia eligendi! Ipsum iusto
          fugit ex dicta cupiditate tempore quisquam ducimus beatae voluptates
          error, vitae accusamus? Reprehenderit quas, cupiditate iusto
          blanditiis assumenda necessitatibus ut tempore neque ex, libero
          minima. Fugiat optio assumenda odit perspiciatis dignissimos
          laudantium vero quibusdam fugit asperiores iusto at nihil, tempore
          sunt, quam quasi ullam molestias dolorem ad rem molestiae laboriosam
          commodi autem iure et. Impedit aspernatur laboriosam iure
          exercitationem? Rem ducimus assumenda pariatur ratione enim non sit,
          necessitatibus et reiciendis. Dolor enim eligendi quia voluptatem
          nostrum dolores veniam. Vel exercitationem corporis in, reiciendis
          nulla ullam, sed praesentium, delectus laboriosam debitis quae? Nobis
          doloremque, maxime aut eveniet beatae aperiam esse quasi ad
          voluptatum? Unde iure alias nihil ab ea impedit soluta ratione, veniam
          cupiditate voluptas officiis corrupti! Quae in voluptatibus deleniti
          distinctio ullam, totam iste laudantium voluptatem enim eum illo
          ratione ab quia perferendis corrupti id praesentium, mollitia suscipit
          cumque nisi? Voluptatum magni ratione voluptate, vero eius nam quasi
          nobis atque.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="about mb-4">
  <div class="row">
    <div class="col-md-6">
      <div class="about-body">
          <h1 class="about-title">Altun Cabel MMC</h1>
        <p class="about-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis
          laudantium quis consectetur ullam repellat distinctio, qui, quisquam
          animi nobis laborum voluptates praesentium! Sapiente vitae quas
          distinctio veritatis iure atque officia quisquam. Facilis, beatae.
          Alias nesciunt facilis, quidem laboriosam accusantium necessitatibus
          quibusdam ad vel officiis excepturi omnis quia eligendi! Ipsum iusto
          fugit ex dicta cupiditate tempore quisquam ducimus beatae voluptates
          error, vitae accusamus? Reprehenderit quas, cupiditate iusto
          blanditiis assumenda necessitatibus ut tempore neque ex, libero
          minima. Fugiat optio assumenda odit perspiciatis dignissimos
          laudantium vero quibusdam fugit asperiores iusto at nihil, tempore
          sunt, quam quasi ullam molestias dolorem ad rem molestiae laboriosam
          commodi autem iure et. Impedit aspernatur laboriosam iure
          exercitationem? Rem ducimus assumenda pariatur ratione enim non sit,
          necessitatibus et reiciendis. Dolor enim eligendi quia voluptatem
          nostrum dolores veniam. Vel exercitationem corporis in, reiciendis
          nulla ullam, sed praesentium, delectus laboriosam debitis quae? Nobis
          doloremque, maxime aut eveniet beatae aperiam esse quasi ad
          voluptatum? Unde iure alias nihil ab ea impedit soluta ratione, veniam
          cupiditate voluptas officiis corrupti! Quae in voluptatibus deleniti
          distinctio ullam, totam iste laudantium voluptatem enim eum illo
          ratione ab quia perferendis corrupti id praesentium, mollitia suscipit
          cumque nisi? Voluptatum magni ratione voluptate, vero eius nam quasi
          nobis atque.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="about-img">
        <img class="" src="assets/images/banner3.jpg" alt="assets/images/banner6.jpg" />
      </div>
    </div>

  </div>
</div>
