<bradcrumb [item]="breadcrumbitem"></bradcrumb>

<section class="container ">
  <div class="row">
    <!-- main content -->
    <section class="col-12 maincontent">
      <h3 align="center">Şirkət Haqqında</h3>

      <div>
        <div class="row">
          <div class="col-md-8 order-2 order-md-1">
            <p>
              Altun kabel MMC 2000-ci ildə təsis edilmişdir və müştərilərinə
              göstərdiyi “yüksək səviyyəli xidmət və keyfiyyətli məhsul
              istehsalı”anlayışı ilə kabel istehsalı sektorunda fəaliyyət
              göstərən öndə gedən müəssisələrdən biridir.
            </p>
            <p>
              Keyfiyyətə,insana və ətraf mühitə verdiyi əhəmiyyətin göstəricisi
              olaraq Altun Kabel MMC İSO 9001:2015, İSO 14001:2015, İSO
              18001:2007 sertifikatlarına malikdir.
            </p>
            <p>
              İnsfrastrukturumuz sektorda standartların və tələblərin yerinə
              yetirilməsində böyük rol oynayır.Altun Kabel olaraq istehsal gücümüz
              illik 1000 tondur.
            </p>
            <p>
              Altun Kabel MMC-nin istehsal etdiyi kabellər yüksək keyfiyyət və
              etibarlılıqla hazırlanır,texnoloji infrastrukturla inkişaf etdirilir və
              hər cür şəraitdə rəqabətə davamlı qiymətlərlə satışı həyata keçirilir.
            </p>  
          </div>
          <div
            class="col-md-4 order-1 order-md-2 d-flex justify-content-center"
          >
            <img
              src="assets/images/About/about.jpg"
              alt=""
              class="img-rounded rounded-pill pull-right w-100"
              
            />
          </div>
        </div>
      </div>

      

     
    </section>
  </div>
</section>
    <hr class="dvider">