<footer class="bottomSite ">
  <div class="footerLeft">
    <h3>Bizimlə Əlaqə</h3>

    <p>
      ALTUN KABEL MMC<br />
      Bakı şəh<br />
      N.Nərimanov ray<br />
      <i class="fas fa-map-marker-alt"></i> Təbriz 170<br />
      <i class="fas fa-mail-bulk"></i> Poçt:AZ1000
    </p>

    <p>
      <i class="fas fa-envelope"></i> EMail:<a
        href="mailto:altuninfo@gmail.com"
      >
        altuninfo@gmail.com
      </a>
    </p>

    <p>
      <i class="fas fa-mobile"></i> Tel:<a href="tel:+994-785-78-95"
        >+994-785-78-95</a
      ><br />
      <i class="fas fa-mobile"></i> Tel:<a href="#"> +994 50 000 00 00</a>
    </p>
  </div>

  <div class="footerRight">
    <h3>Sosial Şəbəkə</h3>

    <div class="menuAndNet">
      <div class="socialNet">
        <li>
          <a href="#"
            ><i class="fa-brands fa-instagram-square"></i> Instagram</a
          >
        </li>
        <br />
        <li>
          <a href="#"> <i class="fa-brands fa-facebook"></i> Facebook</a>
        </li>
        <br />
        <li>
          <a href="#"><i class="fa-brands fa-telegram"></i> Telegram</a>
        </li>
        <br />
        <li>
          <a href="#"><i class="fa-brands fa-youtube"></i> YouTube</a>
        </li>
        <br />
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
        </li>
      </div>
    </div>
  </div>
</footer>

<div class="siteFin">
  <p>Copyright ©2022 ALTUN KABEL MMC</p>
</div>
<a
  href="https://api.whatsapp.com/send?phone=994505480011"
  class="float"
  target="_blank"
>
  <i class="fa fa-whatsapp my-float"></i>
</a>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>

