<!--
<div class="footer">
  <div class="row">
    <div class="col-md-4 contact order-1">
      <h3 class="footer-title">Bizimlə Əlaqə</h3>
      <hr class="divider" />
    <div class="container">
     
          <li>

            <a
              href="https://www.google.com/maps/place/Altun+Kabel+MMC/@40.4843262,49.9561076,15z/data=!4m12!1m6!3m5!1s0x0:0xde602d1db59ef988!2sAltun+Kabel+MMC!8m2!3d40.4843262!4d49.9561076!3m4!1s0x0:0xde602d1db59ef988!8m2!3d40.4843262!4d49.9561076"
              target="_blank"
            >
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> 18 Oktaybr küçəsi,Zabrat</a
            >
          </li>
          <li><fa-icon [icon]="faMailBulk"></fa-icon> Poçt:AZ1000</li>
       
       
          <li>
            <a
              href="mailto:altuninfo@gmail.com"
            >
            <fa-icon [icon]="faEnvelope"></fa-icon> EMail:  altuninfo@gmail.com
            </a>
          </li>
          <li>
            <a
              href="tel:+994-785-78-95"
              > <fa-icon [icon]="faMobile"></fa-icon> Tel: +994-785-78-95</a
            >
          </li>
          <li>
           <a href="#">
            <fa-icon [icon]="faMobile"></fa-icon> Tel: +994 50 000 00 00</a
            >
          </li>
       
    </div>
    </div>
    <div class="col-md-4 menu order-3 order-md-2">
      <h3 class="footer-title">Menu</h3>
      <hr class="divider" />

      <div class="container">
        <li>
         <a [routerLink]="['/home']" routerLinkActive="router-link-active"> <fa-icon [icon]="faHome"></fa-icon>   Ana Səhifə</a
          >
        </li>
        <li>
          <a [routerLink]="['/products']" routerLinkActive="router-link-active"
            ><fa-icon [icon]="faCubes"></fa-icon>  Məhsullar</a
          >
        </li>
        <li>
          <a [routerLink]="['/galery']" routerLinkActive="router-link-active"
            ><fa-icon [icon]="faImage"></fa-icon> Qalareya
          </a>
        </li>
        <li>
          <a [routerLink]="['/about']" routerLinkActive="router-link-active"
            > <fa-icon [icon]="faAddressCard"></fa-icon> Haqqımızda
          </a>
        </li>
        <li>
          <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
            ><fa-icon [icon]="faPhone"></fa-icon> Əlaqə
          </a>
        </li>
      </div>
    </div>
    <div class="col-md-4 sosial order-2 order-md-3">
      <h3 class="footer-title">Sosial Şəbəkə</h3>

      <hr class="divider" />
      <div class="container">
        <div class="row">
          <div class="col">
            <li>
              <a href="https://www.instagram.com/altun_kablo/" target="_blank"
                ><fa-icon [icon]="faInstagram"></fa-icon> Instagram</a
              >
            </li>

            <li>
              <a
                href="https://www.facebook.com/Altun-Elektrik-169825463490646"
                target="_blank"
              >
              </a
              >
            </li>

            <li>
              <a href="#"><fa-icon [icon]="faTelegram"></fa-icon> Telegram</a>
            </li>

            <li>
              <a href="#"><fa-icon [icon]="faYoutube"></fa-icon> YouTube</a>
            </li>

            <li>
              <a href="#"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <p>Copyright ©2022 ALTUN KABEL MMC</p>
</div>
<a
  href="https://api.whatsapp.com/send?phone=994505480011"
  class="float"
  target="_blank"
>
  <i class="fa fa-whatsapp my-float"></i>
</a>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/> -->
<logo-carousel></logo-carousel>
<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <i class="fab fa-slack"></i>
        <span class="logo_name">AltunCabel</span>
      </div>
      <div class="media-icons">
        <a href="#"> <fa-icon [icon]="faFacebook"></fa-icon> </a>
        <a href="#"> <fa-icon [icon]="faTwitter"></fa-icon> </a>
        <a href="#"> <fa-icon [icon]="faInstagram"></fa-icon> </a>
        <a href="#"> <fa-icon [icon]="faTelegram"></fa-icon> </a>
        <a href="#"> <fa-icon [icon]="faYoutube"></fa-icon> </a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Şirkət</li>
        <li>
          <a
            href="https://www.google.com/maps/place/Altun+Kabel+MMC/@40.4843262,49.9561076,15z/data=!4m12!1m6!3m5!1s0x0:0xde602d1db59ef988!2sAltun+Kabel+MMC!8m2!3d40.4843262!4d49.9561076!3m4!1s0x0:0xde602d1db59ef988!8m2!3d40.4843262!4d49.9561076"
            target="_blank"
          >
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> 18 Oktaybr
            küçəsi,Zabrat</a
          >
        </li>
        <li><fa-icon [icon]="faMailBulk"></fa-icon> Poçt:AZ1000</li>

        <li>
          <a href="mailto:altuninfo@gmail.com">
            <fa-icon [icon]="faEnvelope"></fa-icon> EMail: altuninfo@gmail.com
          </a>
        </li>
        <li>
          <a href="tel:+994-785-78-95">
            <fa-icon [icon]="faMobile"></fa-icon> Tel: +994-785-78-95</a
          >
        </li>
        <li>
          <a href="#">
            <fa-icon [icon]="faMobile"></fa-icon> Tel: +994 50 000 00 00</a
          >
        </li>
      </ul>
      <ul class="box">
        <li class="link_name">Menu</li>
        <li><a href="#">Ana Səhifə</a></li>
        <li><a href="#">Məhsullar</a></li>
        <li><a href="#">Qalereya</a></li>
        <li><a href="#">Haqqımızda</a></li>
        <li><a href="#">Əlaqə</a></li>
      </ul>
      <ul class="box input-box">
        <li class="link_name">Subscribe</li>
        <li><input type="text" placeholder="Enter your email" /></li>
        <li><input type="button" value="Subscribe" /></li>
      </ul>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text"
        >Copyright &#169; 2021 <a href="#">CodingLab.</a>All rights
        reserved</span
      >
    </div>
  </div>
</footer>
