<logo-carousel></logo-carousel>
<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <fa-icon [icon]="faLightbulb"></fa-icon>
        <span class="logo_name">AltunKabel</span>
      </div>
      <div class="media-icons">
        <a
          routerLink="https://www.facebook.com/pages/category/Shopping---retail/Altun-Elektrik-169825463490646/"
        >
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="#"> <fa-icon [icon]="faTwitter"></fa-icon> </a>
        <a routerLink="https://www.instagram.com/altun_kabel/">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="#"> <fa-icon [icon]="faTelegram"></fa-icon> </a>
        <a href="#"> <fa-icon [icon]="faYoutube"></fa-icon> </a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box company">
        <li class="link_name">Şirkət</li>
        <li>
          <a
            href="https://www.google.com/maps/place/Altun+Kabel+MMC/@40.4843262,49.9561076,15z/data=!4m12!1m6!3m5!1s0x0:0xde602d1db59ef988!2sAltun+Kabel+MMC!8m2!3d40.4843262!4d49.9561076!3m4!1s0x0:0xde602d1db59ef988!8m2!3d40.4843262!4d49.9561076"
            target="_blank"
          >
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> 18 Oktaybr
            küçəsi,Zabrat</a
          >
        </li>
        <li><fa-icon [icon]="faMailBulk"></fa-icon> Poçt:AZ1000</li>

        <li>
          <a href="mailto:altuninfo@gmail.com">
            <fa-icon [icon]="faEnvelope"></fa-icon> EMail: altuninfo@gmail.com
          </a>
        </li>
        <li>
          <a href="tel:+994-785-78-95">
            <fa-icon [icon]="faMobile"></fa-icon> Tel: +994-785-78-95</a
          >
        </li>
        <li>
          <a href="#">
            <fa-icon [icon]="faMobile"></fa-icon> Tel: +994 50 000 00 00</a
          >
        </li>
      </ul>
      <ul class="box">
        <li class="link_name">Menu</li>
        <li><a routerLink="home">Ana Səhifə</a></li>
        <li><a routerLink="products">Məhsullar</a></li>
        <li><a routerLink="galery">Qalereya</a></li>
        <li><a routerLink="about">Haqqımızda</a></li>
        <li><a routerLink="contact">Əlaqə</a></li>
      </ul>
      <div class="input-box">
       
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12138.377725426331!2d49.9560676!3d40.4842366!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde602d1db59ef988!2sAltun%20Kabel%20MMC!5e0!3m2!1saz!2s!4v1662212371780!5m2!1saz!2s"
          width="300"
          height="300"
          style="border: 0"
          allowfullscreen="true"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text"
        >Copyright &#169; 2022 <a href="#">AltunKabel</a>All rights
        reserved</span
      >
    </div>
  </div>
</footer>
