/* footer
.bottomSite{

	float: left;
	width: 100vw;
	height: 380px;
	background: #000000;
	border-top: 2px#00BCD3 solid;
	border-bottom: 2px #00BCD3 solid;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bottomSite .footerLeft{
	width: 100vw;
	height: 380px;
	padding: 20px 70px;
	box-sizing: border-box;
	font-size: 1.1em;
	color:#00BCD3;
	font-weight: 700;
	position: relative;
	font-family: "black-ops-one";

}

.footerLeft p a{
	text-decoration: none;
	color: #00BCD3;
	font-family: "black-ops-one";
}

.footerLeft p a:hover{
	color: #F3292C;
}

.footerLeft h3{
	font-size: 1.5em;
	display: inline-block;
	border-bottom: 4px solid  #00BCD3;
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	font-family: "black-ops-one";
}



.footerRight{
	width: 100vw;
	padding: 20px 70px;

}


.footerRight h3{
	font-size: 1.5 em;
	display: inline-block;
	border-bottom: 4px solid #00BCD3;
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	color: #00BCD3;
	font-family: "black-ops-one";
}



.menuAndNet{
	display: flex;
	justify-content:space-around;
	align-items: center;
	width: 100%;


}



.menuAndNet li {
	list-style: none;

}

.menuAndNet .footerMenu  a{
	text-decoration: none;
	color: #00BCD3;
	font-size:1.3em;
	font-family: "black-ops-one";
	font-weight: 700;
}

.footerMenu  a:hover{
	color: #FF2323
}


.socialNet li a {
	text-decoration: none;
	color: #00BCD3;
	font-size:1.3em;
	font-family: "black-ops-one";
	font-weight: 700;
}

.socialNet li a:hover{
	color: #FF2323
}




@media screen and (max-width:725px){
	.bottomSite{
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}

	.footerLeft{
		width: 100vw;
		height: auto;
	}

	.footerRight{
		width: 100vw;
		height: auto;
		padding: 20px 50px;
	}

	.footerLeft p{
		padding-left: 10%;
	}
	.footerLeft img{
		margin-left: 22%;
	}

}
 */

.footer{
  background-color: #000000;
  color:#00BCD3;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}
.footer .footer-title{
text-align: center;
font-size: 35px;
font-weight: bold;
margin-right: 230px;
padding-bottom: 10px;
padding-top: 10px;
width: 100%;
border-bottom:4px solid    ;
border-color: #00BCD3 !important;
}



/*whatsapp*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  align-items: center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  padding-top:7px;
}
li{
  list-style: none;
}
 a{
  text-decoration: none;
}
/* copyright */
.copyright{
  border-top: 1px solid white;
  background-color: #00BCD3;
  text-align: center;
margin-right: 10px;
margin-left: 10px;
}
.copyright p{
  font-size: 1.2em;
  font-weight: 600;
	color: #000000;
  padding: 1px;
  margin-bottom: 0;
}
