<bradcrumb [item]="breadcrumbitem"></bradcrumb>
  <div class=" bg">
    <div class="container ">
    <!--Section heading-->
    <!--Section description-->
    
<div class="block">
  <h1 class="  font-weight-bold text-center my-4 ">Bizə yazın</h1>

    <div class="row">
      <div class="col-md-9 mb-md-0 mb-5">
        <form
          action="https://formspree.io/f/xgeqwkge"
          method="POST"
          id="contact-form"
          name="contact-form"
          [formGroup]="FormData"
          
        >
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="name" class="form-label">Ad*</label>
                <input
                  formControlName="Fullname"
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Tam adınızı girin"
                /> 
              
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="email" class="form-label">Email*</label>
                <input
                  formControlName="Email"
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="nümunə@gmail.com"
                />
               
              </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <label for="subject" class="form-label">Mövzu</label>
                <input
                  type="text"
                  id="subject"
                  name="subject"
                  class="form-control"
                  formControlName="Subject"
                />                
              </div>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-12">
              <div class="md-form">
                <label for="message" class="form-label">Mesaj</label>
                <textarea
                  formControlName="Comment"
                  type="text"
                  id="message"
                  name="message"
                  rows="2"
                  class="form-control md-textarea"
                ></textarea>
                
              </div>
            </div>
          </div>
          <!--Grid row-->
        </form>

        <div class="text-center text-md-left my-3">
          <button
            class="btn btn-outline-light my-2"
            
            onclick="document.getElementById('contact-form').submit();onSubmit()"
            [disabled]="!FormData.valid"
            >Göndər</button
          >
        </div>
        <div class="status"></div>
      </div>
    
      <div class="col-md-3 text-center mb-4">
        <div class="row">
          <div class="col-4 col-md-12"><li>
            <a href="https://www.google.com/maps/place/Altun+Kabel+MMC/@40.4843262,49.9561076,15z/data=!4m12!1m6!3m5!1s0x0:0xde602d1db59ef988!2sAltun+Kabel+MMC!8m2!3d40.4843262!4d49.9561076!3m4!1s0x0:0xde602d1db59ef988!8m2!3d40.4843262!4d49.9561076" target="_blank">
            <i class="fas fa-map-marker-alt mt-4 fa-2x"></i>
              <br>
            <span class="d-none d-md-inline-block">18 Oktaybr küçəsi, Zabrat</span>  
            </a>
          </li></div>
          <div class="col-4 col-md-12"> <li>
            <a  href="tel:+994505480011"> 
            <i class="fas fa-phone mt-4 fa-2x"></i>
              <br>
             <span class="d-none d-md-inline-block"> +994505480011</span></a>
          </li></div>
          <div class="col-4 col-md-12">    <li>
            
            <i class="fas fa-envelope mt-4 fa-2x"></i>
            <a href="mailto:kabelaltun@gmail.com"> <br> <span class="d-none d-md-inline-block">kabelaltun@gmail.com</span></a>
            
          </li></div>
        </div>
          
         
      
       
      </div>
      <!--Grid column-->
    </div>
  </div>
</div>

</div>
<!--Section: Contact v.2-->
