
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
.accordion-button{
    background-color: rgb(209, 237, 247);
    font-family: 'Roboto Mono', monospace !important;
    margin-bottom: 10px;
}
.img-fluid{
    object-fit:  contain;
}
