<bradcrumb [item]="breadcrumbitem"></bradcrumb> 
 <div class="container-fluid my-4 p-3">
  <div class="text-end">
    <!-- ../../../../assets/Catalogs/Altun_Kabel_Kataloq.pdf -->
    <a class="btn btn-outline-dark btn-lg mt-1 mb-3 " download="Altun_Kabel_Kataloq.pdf" href="assets/Catalogs/Altun_Kabel_Kataloq.pdf" >Kataloq yukle <fa-icon [icon]="faDownload"></fa-icon></a>
  </div>
<div class="accordion accordion-flush " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button fs-2 " type="button" data-bs-toggle="collapse" data-bs-target="#CollapseForFire" aria-expanded="true" aria-controls="CollapseForFire">
            Yanğına davamlı kabellər
        </button>
      </h2>
      <div id="CollapseForFire" class="accordion-collapse collapse show my-4" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="row row-cols-1    row-cols-md-2 g-2 mb-4"
        >
      
          <div *ngFor="let image of  imageListForFire;let i=index " routerLink="../product-info/type/1/id/{{ i }}" class="col">
             
              <div class="card mb-3" >
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img [src]="image.gridImg" class="img-fluid rounded-start h-100"  [alt]="image.gridImg" >
                    </div>
                    <div class="col-md-8">
                      <div class="card-body"> 
                        <h6 class="card-title fw-bold">{{image.productName}}</h6>
                        <p class="card-text " style="font-style: italic;">{{image.placeOfUse}}</p>                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
</div>
<div class="accordion accordion-flush " id="accordionExample2">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed fs-2 " type="button" data-bs-toggle="collapse" data-bs-target="#CollapseForHart" aria-expanded="false" aria-controls="CollapseForHart">
            Alçaq gərginlikli kabellər
        </button>
      </h2>
      <div id="CollapseForHart" class="accordion-collapse collapse  my-4" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
          <div class="row row-cols-1 row-cols-md-2 g-2 mb-4"
        >
      
          <div *ngFor="let image of  imageListForHart;let i=index " routerLink="../product-info/type/2/id/{{ i }}" class="col">
             
            <div class="card mb-3" >
              <div class="row g-0">
                <div class="col-md-4">
                  <img [src]="image.gridImg" class="img-fluid rounded-start h-100"  [alt]="image.gridImg" >
                </div>
                <div class="col-md-8">
                  <div class="card-body"> 
                    <h6 class="card-title fw-bold">{{image.productName}}</h6>
                    <p class="card-text " style="font-style: italic;">{{image.placeOfUse}}</p>                        
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    
</div>
</div>
