<bradcrumb [item]="'Ətraflı'"></bradcrumb>
<div class="block">
	<div class="containerInfo">
			
		<div class="colm1">
			
			<div class="infoImg">
			<img [src]="productInfo.imgSrc" [alt]="productInfo.imgSrc"> 
			</div>
			
			<div class="azs">
			<img [src]="prStandartImg" [alt]="prStandartImg">
			</div>
			<h4 *ngIf="productInfo.productName" class="mt-4 fw-bold">{{productInfo.productName}}</h4>

		</div>

		<div class="colm2" *ngIf="productInfo">
			
			
			<h3 *ngIf="productInfo.placeOfUse">İstifadə olunduğu yerlər </h3>
			
			<p *ngIf="productInfo.placeOfUse">{{productInfo.placeOfUse}}</p>
			
			<h3>Texniki məlumat </h3>
			
			<table *ngIf="productInfo.techInfo">
				<tr>
					
				<td *ngIf="productInfo.techInfo.workTemp">Maksimum işləmə istiliyi  </td>
				<td *ngIf="productInfo.techInfo.workTemp">{{productInfo.techInfo.workTemp}} </td>
				
				</tr>
				
				
				<tr>
					
				<td *ngIf="productInfo.techInfo.circTemp">Maksimum qısa qapanma istiliyi  </td>
				<td *ngIf="productInfo.techInfo.circTemp">{{productInfo.techInfo.circTemp}} </td>
				
				</tr>
				
				<tr>
					
				<td *ngIf="productInfo.techInfo.tension">Gərginlik  </td>
				<td *ngIf="productInfo.techInfo.tension">{{productInfo.techInfo.tension}}</td>
				
				</tr>
				
				
				<tr>
					
				<td *ngIf="productInfo.techInfo.bendRad">Minimum əyilmə radiusu </td>
				<td *ngIf="productInfo.techInfo.bendRad">{{productInfo.techInfo.bendRad}}</td>
				
				</tr>
			
			</table>
			
			<h3 *ngIf="productInfo.struchture"> Strukturu </h3>
			
		
				<ul>
					<li *ngIf="productInfo.struchture.A">{{productInfo.struchture.A}} </li>
					<li *ngIf="productInfo.struchture.B">{{productInfo.struchture.B}} </li>
					<li *ngIf="productInfo.struchture.C">{{productInfo.struchture.C}} </li>
					<li *ngIf="productInfo.struchture.D">{{productInfo.struchture.D}} </li>
					<li *ngIf="productInfo.struchture.E">{{productInfo.struchture.E}} </li>
				
				</ul>
			
	  
		
			<h3>Standartlar</h3>
		
			<p>ISO 9001: 2015 – ГОСТ 31996-2012</p>
			
			
		</div>
	


	</div>
</div>
		
	
	
	