
		<div class="containerInfo">
			
			<div class="colm1">
				
				<div class="infoImg">
				<img src="../../../../assets/fire-product-images/YAVZ4V-R, AL PVC DSTA PVC, NAYBY – 0.6-1kV PVC 9.PNG" alt="YAVZ4V-R"> 
				</div>
				
				<div class="azs">
				<img src="../../../../assets/fire-product-images/azs.png" alt="azs standart">
				</div>
				
				
				
			</div>
	
			<div class="colm2">
				<h3>İstifadə olunduğu yerlər </h3>
				
				<p>Enerji mərkəzlərində, paylayıcı qurğularda və sənaye müəssisələrində, mexaniki zədələnmə riskinin yüksək olduğu yerlərdə(daxildə və xaricdə), torpaq altında və kabel kanallarında istifadə olunur. </p>
				
				<h3>Texniki məlumat </h3>
				
				<table>
					<tr>
						
					<td>Maksimum işləmə istiliyi  </td>
					<td>70° C  </td>
					
					</tr>
					
					
					<tr>
						
					<td>Maksimum qısa qapanma istiliyi  </td>
					<td>160 (max.5san.)  </td>
					
					</tr>
					
					<tr>
						
					<td>Gərginlik  </td>
					<td>0.6/1kV</td>
					
					</tr>
					
					
					<tr>
						
					<td>Minimum əyilmə radiusu </td>
					<td>15xD</td>
					
					</tr>
				
				</table>
				
				<h3> Strukturu </h3>
				
			
					<ul>
						<li>Çox telli alüminium ötürücü </li>
						<li>PVC izolyasiya </li>
						<li>Dolğu </li>
						<li>Dəmir zireh </li>
						<li>PVC xarici örtük</li>
					</ul>
				
          
			
				<h3>Standartlar</h3>
			
				<p>ISO 9001: 2015 – ГОСТ 31996-2012</p>
				
				
			</div>
		
	
	
		</div>
	
	
	