<div class="container-fluid">
  <div class="navjs-header header-shadow">
    <div class="container">
      <!-- navjs header -->
      <div class="navjs-header-container">
        <!--Logo-->
        <div
          class="logo"
          data-mobile-logo="assets/images/1altun.png"
          data-sticky-logo="assets/images/1altun.png"
        >
          <a href="#"
            ><img
              src="assets/images/1altun.png"
              alt="logo"
              class=" "
              align="left"
          /></a>
         
        </div>

        <!-- Burger menu -->
        <div class="burger-menu ">
          <div class="line-menu line-half first-line"></div>
          <div class="line-menu"></div>
          <div class="line-menu line-half last-line"></div>
        </div>

        <!--Navigation menu-->
        <nav
          class="navjs-menu menu-caret menu-hover-4 submenu-top-border submenu-scale"
        >
          <ul>
            <li><a  routerLinkActive="['is-active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home']">Ana Səhifə</a></li>
            <li >
              <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#">Məhsullar</a>
              <ul>
                <li>
                  <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#">Alçaq Gərginlikli</a>
                  <ul>
                    <li><a href="#">Mis Kabellər</a></li>
                    <li><a href="#">Aliminum Kabellər</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Yanğına Davamlı </a>
                  <ul>
                    <li><a href="#">Mis Kabellər</a></li>
                    <li><a href="#">Aliminum Kabellər</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li><a href="../webaa/product.html">Qalareya</a></li>

            <li class="submenu-right">
              <a href="#">Haqqımızda</a>
              <ul>
                <li><a href="#">Şirkət</a></li>
                <li><a href="#">Sertifikatlar</a></li>
              </ul>
            </li>

            <li><a href="#">Əlaqə</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
