<div class="nav" >
<div class="container-fluid" >
  <nav class="navbar navbar-expand-lg bg-white "  >
    <a [routerLink]="['/home']"   class="navbar-brand " >
      <img class="brand-img "    src="assets/images/1altun.png" alt="logo" />
    </a>
      <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarToggler">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2 px-2">
            <a   class="nav-link "   [routerLink]="['/home']"><span [class.active]="getRouter()=='/home'">Ana Səhifə</span></a>
          </li>

          <li class="nav-item dropdown mx-2 px-2 ">
            <a class="nav-link dropdown-toggle " [routerLink]="['/products']"  [class.active]="getRouter()=='/products'" style="cursor:pointer ;" id="navbarDropdown" role="button" aria-expanded="false">
             <span>Məhsullar</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="hard" >  Alçaq Gərginlikli</a></li>
              <li><a class="dropdown-item" routerLink="fire" > Yanğına Davamlı</a></li>
            </ul>
          </li>
          <li class="nav-item mx-2 px-2">
            <a [routerLink]="['/galery']"  class="nav-link"><span  [class.active]="getRouter()=='/galery'">Qalereya</span> </a>
          </li>
          <li class="nav-item mx-2 px-2">
            <a class="nav-link"  [routerLink]="['/about']" ><span  [class.active]="getRouter()=='/about'">Haqqımızda</span></a>
          </li>
          <li class="nav-item mx-2 px-2">
            <a [routerLink]="['/contact']"  class="nav-link"><span [class.active]="getRouter()=='/contact'">Əlaqə</span></a>
          </li>
        </ul>

      </div>

  </nav>
</div>
</div>