
@media screen and (max-width: 300px) {
  .brand-img{
    width: 150px !important;
  }
}
@media screen and (max-width: 1040px) {
  .brand-img{
    width: 200px !important;
  }
}
.brand-img{
  width: 300px;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown{
    animation: growDown 300ms ease-in-out forwards
}
.dropdown-toggle::after {
    display: none;
}


/* navbar */
.navbar-nav{
  margin-right: 50px;
}
.navbar-nav .nav-item {
  padding: 0, 20px;


}
.navbar-nav .nav-item span{
  padding:5px 10px;
  transition:all 0.2s linear;
}
.navbar-nav .nav-item :hover span {
  background-color: #140B5C;
  color: white;
  cursor: pointer;
  border-radius: 20px !important;
 transform: scale(1.5);
  transition:all 0.2s linear;
}
.dropdown:hover {
  border-radius: 20px;
  cursor: pointer;
}
.dropdown:hover .nav-link:hover span{
  background-color: #140B5C;
  color: white;
}
.dropdown-menu {
  background-color: white !important;
  border-radius: 20px;
  padding: 10px;
}
.dropdown .dropdown-item:hover {
  background-color: #140B5C;
  color: white;
  cursor: pointer;
  border-radius:20px ;
}
.active{
  background-color: #140B5C;
  color: white !important;
  border-radius: 20px !important;
  padding: 6px;
}
