.breadcrumb-card {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .breadcrumb-card img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 15rem;
    opacity: 0.8;
  }
  .breadcrumb-body {
    position: absolute;
    z-index: 100;
    top: 40px;
    right: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 1;
    color: white !important;
  }
  .breadcrumb-body .title {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 50px !important;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .breadcrumb-body .body li {
    font-weight: bold;
    color: white;
    font-size: 14px;
  }
  .breadcrumb-body .body .breadcrumb .breadcrumb-item::before {
    color: white;
  }
  .breadcrumb-body .body a {
    text-decoration: none;
    color: white;
  }
  
.card{
    position: relative;
}
.card-img-top{
    position: relative;
    height: 200px;
    width: 100%;
}