<div class="container-fluid my-4 p-3">
  <div
    class="row row-cols-1 row-cols-lg-5 row-cols-md-4 row-cols-sm-2 g-2 mb-4"
  >
    <div class="col">
      <div class="card border shadow mb-3">
        <img
          src="assets/images/banner2.jpg"
          class="card-img-top"
          alt="assets/images/banner2.jpg"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border shadow mb-3">
        <img
          src="assets/images/banner3.jpg"
          class="card-img-top"
          alt="assets/images/banner3.jpg"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border shadow mb-3">
        <img
          src="assets/images/banner1.jpg"
          class="card-img-top"
          alt="assets/images/banner1.jpg"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border shadow mb-3">
        <img
          src="assets/images/banner4.jpg"
          class="card-img-top"
          alt="assets/images/banner4.jpg"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>

    <div *ngFor="let image of imgUrls" class="col">
        <div class="card border shadow mb-3">
          <img
            src="assets/images/{{image}}"
            class="card-img-top"
            alt="assets/images/{{image}}"
            
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
