.carousel-item{
    height:90vh;
    min-height:100px;
    background: no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size:cover ;

}
.carousel-img{
object-fit: cover !important;
}
.carousel-item::before{
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: #000;
   opacity: 0.7;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
    opacity: 0.8;
}
.carousel-caption p{
    font-size: 20px;
    top: 2rem;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }




/* map */

.map{

	width: 100%;
	height: 450px;

}


@media only screen and (max-width:572px) {
  
  .carousel-item{
    height: 40vh ;
  }
 
}
@media only screen and (max-width:776px) and (min-width:572px){
  
  .carousel-item{
    height: 55vh ;
  }
}

@media only screen and (max-width:992px) and (min-width:776px){
  
  .carousel-item{
    height: 70vh ;
  }
.carousel-caption h5{
    font-size: 70px;
    font-weight: 700;
    opacity: 0.8;
}
.carousel-caption p{
    font-size: 15px;
    top: 2rem;
}
}









