.carousel-item {
  height: 95vh;
  min-height: 100px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}


.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* middleBox */

.middleBox2 {
  height: auto;
  width: 100%;
  background: #ffffff;
  position: relative;
  display: block;
}

.motherBox {
  width: 100%;
  height: 400px;
  background: #140b5c;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  width: 450px;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
}

.box:nth-child(1) {
  background: url("../../../assets/images/lv_power_cables3.jpg") no-repeat;
  background-size: 100% 100%;
}

.box:nth-child(2) {
  background: url("../../../assets/images/fire_servival3.jpg") no-repeat;
  background-size: 100% 100%;


}

.boxIn {
  width: 100%;
  height: 100%;
  background: rgba(20,11,92, 0.4 );
  display: none;
  text-align: center;
  padding-top: 70px;
  z-index: 2;
}

.box:hover .boxIn {
  display: inline-block;
  transition-delay: 0.6s;
  transition-timing-function: ease-in-out;
}

.boxIn a {
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
}

.boxIn h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.4em;
}

.boxIn a:hover {
  background: #ff0000;
  color: #ffffff;
  transition-duration: 0.2s;
}
@media screen and (max-width: 1024px) {
  .middleBox2 {
    margin-bottom: 27px;
    height: 750px;
    padding-bottom: 50px;
  }

  .motherBox {
   
    height: 100%;
  }

  .box {
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
  }

  .boxIn {
    padding-top: 60px;
    border-radius: 10px;
    font-size: 15px;
  }
 
  .boxIn a {
    padding: 15px;
    font-size: 15px;
  }
}

.middleBox2 h1 {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding-top: 10px;
  background: #140B5C;
  margin: 0
}



@media only screen and (max-width: 572px) {
  .carousel-item {
    height: 30vh;
   
  }
  .box,.boxIn{
    border-radius: 0;

  }
  .box{
    background-size: cover;
  }
 
}
@media only screen and (max-width: 776px) and (min-width: 572px) {
  .carousel-item {
    height: 55vh;
  
  }
  .box,.boxIn{
    border-radius: 0;
  }
  .box{
    background-size: 70%;
  }
}

@media only screen and (max-width: 992px) and (min-width: 776px) {
  .carousel-item {
    height: 70vh;
  }
 
}
