@charset "utf-8";
/* CSS Document */

.middleBox2{
	width: 100%;
	height: auto;
	background: #fff;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.motherBox{
	width: 100%;
	height:100vh;
	background: #140B5C;
	position: relative;
	padding-left: 12%;
}

.box{
	width:250px;
	height: 125px;
	margin: 15px 20px;
	border-radius: 1px;
	background-repeat: no-repeat;
	background-size: 100% 100%;;
}
// .box:nth-child(1){
// 	background: url("../../../../assets/fire-product-images/H05V-U  H07V-U H07V-R, NYA  1.1.png") no-repeat;
// 	background-size: 100% 100%;
// }


// .box:nth-child(2){
// 	background: url( "../../../../assets/fire-product-images/H05V-K  H07V-K, NYAF – PVC  2.1.png") no-repeat;
// 	background-size: 100% 100%;
// }

// @each $color in ima {
// 	.#{$color}-text {color: $color;}
//   }
// .box:nth-child(3){
// 	background: url( "../../../../assets/fire-product-images/NYM, CU PVC PVC, NVV – PVC 3.1.png") no-repeat; 
// 	background-size: 100% 100%;
// }

// .box:nth-child(4){
// 	background: url( "../../../../assets/fire-product-images/YVV-U, YVV-R, CU PVC PVC, NYY – 0.6 1kV 4.1.png") no-repeat; 
// 	background-size: 100% 100%;
// }

// .box:nth-child(5){
// 	background: url( "../../../../assets/fire-product-images/YVV-R, CU PVC PVC,NYY – 0.6  1 kV PVC  5.1.png") no-repeat; 
// 	background-size: 100% 100%;
// }

// .box:nth-child(6){
// 	background: url(  "../../../../assets/fire-product-images/YVZ4V-R, CU PVC DSTA PVC, NYBY – 0.6 1kV PVC 6.1.png") no-repeat; 
// 	background-size: 100% 100%;
// }


// .box:nth-child(8){
// 	background: url("../../../../assets/fire-product-images/YAVV-R, AL PVC PVC, NAYY – 0.6 1kV PVC  8.1.png") no-repeat; 
// 	background-size: 100% 100%;
// }


// .box:nth-child(7){
// 	background: url(  "../../../../assets/fire-product-images/YAVV-R, AL PVC PVC, NAYY – 0.6 1kV PVC 7.1.png") no-repeat; 
// 	background-size: 100% 100%;
// }


// .box:nth-child(9){
// 	background: url(  "../../../../assets/fire-product-images/YAVZ4V-R, AL PVC DSTA PVC, NAYBY – 0.6-1kV PVC 9.1.png") no-repeat; 
// 	background-size: 100% 100%;
// }




/*.box:nth-child(10){
	background: url(  "../../../../assets/fire-product-images/YAXH-R, NA2XH-O – 0.6 1kV 10.1.1.png") no-repeat; 
	background-size: 100% 100%;
}


.box:nth-child(11){
	background: url(  "../../../../assets/fire-product-images/YAXH-R, NA2XH-O – 0.6 1kV 11.1.1.png") no-repeat; 
	background-size: 100% 100%;
}*/

.boxIn{
	width:250px;
	height: 125px;
	background: rgba(20,11,92,0.35);
	display: none;
	text-align: center;
	padding-top: 1px;
	border-radius:1px 
}

.box:hover .boxIn{
	display: block;
	transition-delay:0.6s;
	transition-timing-function: ease-in-out;
}


.boxIn a{
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
	background: rgba(255,255,255,1.00);
	color:#000000;
	padding: 10px;
	font-weight:500;
	border-radius: 5px;
	
	
}

.boxIn h3{
	color: #FFFFFF;
	font-weight: 500;
	font-size: 1em;
	
}


.boxIn a:hover{
	background: #FF2323;
	color: #FFFFFF;
	transition-duration: 0.2s;
}

@media screen and (min-width:1024px){
	.motherBox{
		padding-left: 13%;
		
	}
}



