
	<div class="middleBox2" >

		
		<div class="motherBox">
			
			<div class="row row-cols-1  row-cols-xxl-3 row-cols-md-2 g-2 mb-4">
			<div *ngFor="let product of products;let i=index" [style.background-image]="'url(assets/fire-product-images/H05V-K-H07V-K_NYAF–PVC_2.1.png)'" class="box col">
				<div class="boxIn">
					<h3>{{product.productName}}</h3>
					<a routerLink="../product-info/type/1/id/{{i}}" > Ətraflı </a>
				</div>
			</div>
			<!-- <div class="box col">
				<div class="boxIn">
					<h3>H05V-K/H07V-K,NYAF–PVC </h3>
					<a href="#"> Ətraflı </a>
				</div>
			</div>
			<div class="box col">
				<div class="boxIn">
					<h3>NYM,CU/PVC/PVC,NVV–PVC</h3>
					<a href="#"> Ətraflı </a>
				</div>
			</div>
			<div class="box col">
				<div class="boxIn">
					<h3>YVV-U,YVV-R,CU/PVC/PVC,NYY–0.6/1kV/PVC</h3>
					<a href="#"> Ətraflı </a>
				</div>
			</div>
			<div class="box col">
				<div class="boxIn">
					<h3>YVV-R,CU/PVC/PVC,NYY–0.6/1 kV/PVC</h3>
					<a href="#"> Ətraflı </a>
				</div>
			</div>
			<div class="box col ">
				<div class="boxIn">
					<h3>YVZ4V-R, CU/PVC/DSTA/PVC, NYBY – 0.6/1kV PVC</h3>
					<a href="#"> Ətraflı </a>
				</div>
			</div>
			<div class="box col">
				<div class="boxIn">
					<h3>YAVV-R,AL/PVC/PVC,NAYY–0.6/1kV/PVC</h3>
					<a href="#"> Ətraflı </a>
				</div>
			</div>
			<div class="box col">
				<div class="boxIn">
					<h3>YAVV-R, AL/PVC/PVC, NAYY – 0.6/1kV PVC</h3>
					<a href="#"> Ətraflı </a>
				</div>
			</div>
			<div class="box col">
			<div class="boxIn">
					<h3>YAVZ4V-R, AL/PVC/DSTA/PVC, NAYBY – 0.6-1kV PVC</h3>
					<a href="#"> Ətraflı </a>
				</div>
			</div>
		 -->
			
        </div>
		
		
		</div>
	
	</div>
	
	
